<!-- 		<div class="row"> -->
<!-- 			<div class="col-lg-12"> -->
<!-- 				<ul class="mod-iconmenu"> -->
<!-- 					<li class="mod-iconmenu-item"> -->
<!-- 						<div class="mod-iconmenu-item-icon mod-iconmenu-item-button"> -->
<!-- 							<i class="fa fa-search"></i> -->
<!-- 							<span>Test 1</span> -->
<!-- 						</div> -->
<!-- 					</li> -->
					
<!-- 					<li class="mod-iconmenu-item"> -->
<!-- 						<div class="mod-iconmenu-item-icon mod-iconmenu-item-button"> -->
<!-- 							<i class="fa fa-search"></i> -->
<!-- 							<span>Test 2</span> -->
<!-- 						</div> -->
<!-- 					</li> -->
					
<!-- 					<li class="mod-iconmenu-item"> -->
<!-- 						<div class="mod-iconmenu-item-icon mod-iconmenu-item-button"> -->
<!-- 							<i class="fa fa-search"></i> -->
<!-- 							<span>Test 3</span> -->
<!-- 						</div> -->
<!-- 					</li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 		</div> -->