<div layout:fragment="footer" th:fragment="footer">
    <!-- Angular JS -->
    <script src="/javascripts/vendor/angular.min.js"></script>
	
	<!-- jQuery -->
    <script src="/javascripts/vendor/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/vendor/bootstrap.min.js"></script>

	<!-- Angular UI Bootstrap Core JavaScript -->
<!--     <script src="/javascripts/vendor/ui-bootstrap.min.js"></script> -->

	<!-- Angular UI Bootstrap Templates JavaScript -->
    <script src="/javascripts/vendor/ui-bootstrap-tpls-0.12.0.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/javascripts/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/vendor/sb-admin-2.js"></script>
	
	<!-- TrNgGrid grid component -->
    <script src="/javascripts/vendor/trNgGrid.min.js"></script>
	
	<!-- Angular JS Application -->
	<script src="/javascripts/ui-filters.js"></script>
	<script src="/javascripts/ui-alerts.js"></script>
	<script src="/javascripts/ui-components.js"></script>
	<script src="/javascripts/jobs-directives.js"></script>
    <script src="/javascripts/jobs-module.js"></script>
    <script src="/javascripts/main.js"></script>
</div>