<!DOCTYPE html>
<html lang="en" ng-app="fxmonitor" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head layout:replace="fragment/header"></head>
<body>
<div id="wrapper">
	<div layout:replace="fragment/navigation"></div>
	<div id="page-wrapper" ng-controller="AlertCtrl">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" th:text="${title}">Title</h1>
			</div>
		</div>
		<div>
			<div class="row" ng-show="alerts.length">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"
					close="closeAlert($index)">{{alert.msg}}</alert>
			</div>
		</div>
		
		<div th:if="${warningMessages} != null">
			<div th:replace="fragment/displayMessage :: displayMessage('alert-warning', ${warningMessages})"></div>
		</div>
		
		<div layout:fragment="content">Replace content</div>
		
	</div>
	<!-- /#page-wrapper -->		
</div>
<!-- /#wrapper -->

<div layout:replace="fragment/footer"></div>
</body>
</html>